{% extends "main.html" %}
{% load static %}
{% block content %}


<div class="container">
    <article class="media">
        <div class="media-left">
            <figure class="image is-256x256">
                <img class="is-rounded" src="{{ profile.imageurl }}">
            </figure>
        </div>
        <div class="media-content">
            <div class="content">
                <h1 class="title is-2" style="font-weight: bold;">{% if profile.first_name %} {{profile.first_name}}
                    {{profile.last_name}}
                    {% endif %}
                </h1>
                <h1 class="title is-4 mb-6">@{{profile.user}}</h1>
            </div>

            {% if user.is_authenticated and user != profile.user %}
            <div class="media-right">
                {% if follow_status %}
                <a href="{% url 'follow' profile.user 0 %}" class="button is-small is-danger mb-5">Unfollow</a>
                {% else %}
                <a href="{% url 'follow' profile.user 1 %}" class="button is-small is-success mb-5">Follow</a>
                {% endif%}
            </div>
            {% endif %}

            <nav class="level is-mobile">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Posts</p>
                        <p class="title">{{ posts_count }}</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Following</p>
                        <p class="title">{{ following_count }}</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div class="px-2">
                        <p class="heading">Followers</p>
                        <p class="title">{{ follower_count }}</p>
                    </div>
                </div>
            </nav>
            <p class="subtitle is-6 ">{% if profile.profile_info%}{{profile.profile_info}}{% endif %}</p>
            {% if user.is_authenticated and user == profile.user %}
            <a href="{% url 'edit-profile' %}" class="button is-small">Edit profile</a>
            {% endif %}
        </div>
    </article>
</div>
<div class="tabs is-centered">
    <ul>
        <li class="{% if url_name == 'profile' %}is-active{% endif %}"><a
                href="{% url 'profile' profile.user %}">Posts</a></li>
        <li class="{% if url_name == 'profilefavorites' %}is-active{% endif %}"><a
                href="{% url 'profilefavorites' profile.user %}">Saved</a></li>
    </ul>
</div>
<div class="columns is-mobile is-multiline">
    {% for post in posts %}
    <div class="column is-one-quarter">
        <div class="box">
            {% if post.content.first.file.name|slice:"-3:" == 'jpg' or post.content.first.file.name|slice:"-3:" == 'png' or post.content.first.file.name|slice:"-4:" == 'jpeg' %}
            <figure class="image is-4by3">
                <a href="{{ post.get_absolute_url }}"><img src="{{ post.content.first.file.url }}"
                        alt="Placeholder image">
                </a>
            </figure>
            {% else %}
            <a href="{{ post.get_absolute_url }}">
                <video width="640" controls="controls" preload="metadata">
                    <source src="{{ post.content.first.file.url }}#t=0.5" type="video/mp4">
                </video>
            </a>
            {% endif %}
        </div>
    </div>
    {% empty %}
    <h1 class="title is-4">No post yet.</h1>
    {% endfor %}
</div>

{% endblock%}