{% load widget_tweaks %}

{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hello Bulma!</title>
  <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/all.css' %}">
</head>

<body>

  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-4">
          <div class="card">
            <div class="card-content">
              <form action="" method="post">
                <h3 class="title is-3 has-text-centered">Create an account</h3>
                {%csrf_token%}
                <div class="field">
                  <label class="label is-medium">Username</label>
                  <p class="control has-icons-left has-icons-right">
                    {% render_field form.username class='input'%}
                    <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                    <span class="icon is-small is-right">
                      <i class="fas fa-check"></i>
                    </span>
                  </p>
                </div>
                <div class="field">
                  <label class="label is-medium">Email</label>
                  <p class="control has-icons-left has-icons-right">
                    {% render_field form.email class='input'%}
                    <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                    <span class="icon is-small is-right">
                      <i class="fas fa-check"></i>
                    </span>
                  </p>
                </div>
                <div class="field">
                  <label class="label is-medium">Password</label>
                  <p class="control has-icons-left">
                    {% render_field form.password class='input'%}
                    <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                  </p>
                </div>
                <div class="field">
                  <label class="label is-medium">Confirm-Password</label>
                  <p class="control has-icons-left">
                    {% render_field form.confirm_password class='input'%}
                    <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                  </p>
                </div>
                <div class="row">
                  <div class="col s12">
                    <span style="color: red; font-weight: bold;">{{ form.errors }}</span>
                  </div>
                </div>
                <div class="has-text-centered">

                  <div class="field">
                    <p class="control">
                      <button type="submit" value="login" class="button is-info my-5">
                        Create
                      </button>
                    </p>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

</body>

</html>